/* root */
:root {
  --main-color: #197b30; /* rgb(60,127,76) */
  --main-hover-color: #0d501d; /* rgb(60,127,76) */
  --main-whatsapp-color: #24d966;
  --main-telegram-color: #0088cc;
  --main-twitter-color: #3384fd;
}
/* initial */
*,
::before,
::after {
  box-sizing: border-box;
}

html,
body {
  font-size: 12px;
  font-family: IRANSansX, Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: 568px) {
  html,
  body {
    font-size: 14px;
  }
}

body {
  max-width: 100% !important;
  overflow-x: hidden;
  margin: 0;
  background-color: #f7f7f7;
}

header {
  background-color: #fff;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: var(--main-color);
}

p,
h5,
.card-title {
  line-height: 2rem;
}

.title {
  font-size: 20px;
  margin-top: 30px;
  font-weight: bold;
}
.main-title {
  font-size: 24px;
  font-weight: bold;
  line-height: 2.5rem;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000 !important;
  font-size: 12px !important;
  opacity: 1 !important; /* Firefox */
}

main {
  margin-top: 2.5rem;
  margin-bottom: 3rem;
}

@media only screen and (max-width: 568px) {
  main {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
/* Svg */
.user-svg {
  background: url("../img/user.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  padding: 0.6rem;
  margin: 0 0.5rem;
}
.download-svg {
  background: url("../img/download.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  padding: 0.6rem;
  margin: 0 0.5rem;
}
.calender-svg {
  background: url("../img/calender.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  padding: 0.8rem;
  margin: 0 0.5rem;
}

.search-svg {
  background: url("../img/search.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  padding: 0.8rem;
  margin: 0 0.5rem;
}

.banner-svg {
  background: url("../img/banner.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  padding: 2.5rem 9rem;
}

.logo-svg {
  background: url("../img/logo.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right;
  padding: 1rem;
  margin-left: 0.5rem;
}

.logo-rotate-svg {
  background: url("../img/logo-rotate.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  padding: 1.5rem;
  margin-left: 0.5rem;
}

.logo-white-svg {
  background: url("../img/logo-white.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  padding: 1rem;
  margin-left: 0.5rem;
}
.bg-svg {
  background: url("../img/bg.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: top;
  padding: 1rem;
  margin: 0 0.5rem;
}

.angle-left-svg {
  background: url("../img/angle-left.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  padding: 0.3rem;
  margin: 0 0.5rem;
}
.angle-right-svg {
  background: url("../img/angle-right.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  padding: 0.3rem;
  margin: 0 0.5rem;
}
.play-svg {
  background: url("../img/play.svg");
  background-repeat: no-repeat;
  background-position: center;
  padding: 1rem;
  margin: 0 0.5rem;
}

.film-svg {
  background: url("../img/film.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  padding: 1rem;
  margin: 0 0.5rem;
}
@media only screen and (max-width: 568px) {
  .film-svg {
    background-position: top;
  }
}

.twitter-original-svg {
  background: url("../img/twitter-original.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  padding: 1rem;
  margin: 0 0.5rem;
}
.location-svg {
  background: url("../img/location.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  padding: 1rem;
  margin: 0 0.5rem;
}
.tel-svg {
  background: url("../img/tel.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  padding: 1rem;
  margin: 0 0.5rem;
}
.print-svg {
  background: url("../img/print.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  padding: 1rem;
  margin: 0 0.5rem;
}

.envelope-svg {
  background: url("../img/envelope.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  padding: 1rem;
  margin: 0 0.5rem;
}

.logo-footer-svg {
  background: url("../img/logo-footer.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  padding: 14rem;
  margin: 0 0.5rem;
}

.eye-svg {
  background: url("../img/eye.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  padding: 1rem;
}

.print-green-svg {
  background: url("../img/print-green.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  padding: 0.8rem;
  margin: 0 0.5rem;
}

.clock-svg {
  background: url("../img/clock.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  padding: 0.8rem;
  margin: 0 0.5rem;
}

.share-svg {
  background: url("../img/share.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  padding: 0.8rem;
  margin: 0 0.5rem;
}

.thumbs-up-svg {
  background: url('../img/thumbs-up.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  padding: 1rem 0.75rem;
  margin: 0 0.5rem 0 0;
}
.copy-svg {
  background: url("../img/copy.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  padding: 1rem;
  margin: 0 0.5rem;
}
/* Social medias svg */
.telegram-svg {
  background: url("../img/telegram.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  padding: 1rem;
  margin: 0 0.5rem;
}
.whatsapp-svg {
  background: url("../img/whatsapp.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  padding: 1rem;
  margin: 0 0.5rem;
}
.twitter-svg {
  background: url("../img/twitter.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  padding: 1rem;
  margin: 0 0.5rem;
}
.twitter-svg {
  background: url("../img/twitter.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  padding: 1rem;
  margin: 0 0.5rem;
}
.facebook-svg {
  background: url("../img/facebook.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  padding: 1rem;
  margin: 0 0.5rem;
}
.linkedin-svg {
  background: url("../img/linkedin.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  padding: 1rem;
  margin: 0 0.5rem;
}

/* Nav */

.navbar-toggler-icon {
  background-image: url("../img/navbar-toggler-icon.svg");
}
.nav-seprator {
  margin: 1rem 0;
  position: relative;
}

.nav-seprator::before {
  content: "";
  display: block;
  background: url("../img/banner.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  padding: 2.5rem 11.5rem;
  position: absolute;
  background-color: #fff;
  right: -1.5vw;
  bottom: -1vw;
  z-index: 2;
}
.nav-seprator::after {
  content: "";
  display: block;
  padding: 2.5rem 10rem;
  position: absolute;
  background-color: #fff;
  right: -1.5vw;
  bottom: -1vw;
  margin: 0 2rem;
}

/* Nav links */
.nav-item {
  margin: 0 1rem;
}
.nav-link {
  color: #000;
}
.nav-link:hover {
  color: var(--main-color);
}
/* Nav Dropdown */
@media only screen and (min-width: 768px) {
  .dropdown:hover .dropdown-menu {
    display: flex;
    margin-top: 0; /* remove the gap so it doesn't close*/
  }
  .dropdown:hover .dropdown-toggle::after {
    display: block;
  }
}

.dropdown-toggle::after {
  border-top-color: var(--main-color);
  border-bottom-color: var(--main-color);
  position: absolute;
  right: 50%;
  bottom: 0;
  transform: rotate(180deg);
  display: none;
  border-top: 0.4em solid;
}
.dropdown-menu {
  border-top: 3px solid var(--main-color);
  right: -40%;
  border-radius: 0;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
/* TODO: For mobile device */
@media only screen and (max-width: 568px) {
  .dropdown-menu {
    position: relative !important;
  }
  .dropdown-menu::before {
    content: "";
    display: block;
    margin-right: 0.255em;
    border-top: 0.5em solid var(--main-color);
    border-left: 0.5em solid transparent;
    border-bottom: 0;
    border-right: 0.5em solid transparent;
    position: absolute;
    right: 9px;
    top: -9px;
    transform: rotate(180deg);
  }
}

.dropdown-menu ul {
  list-style: none;
  padding: 1rem;
}

/* Carousel */
.carousel-caption {
  left: initial;
  right: 0;
}

.carousel-caption-link {
  display: flex;
  padding: 0 2rem;
}
.carousel-caption-link > * {
  margin: 0 1rem;
}
@media only screen and (max-width: 568px) {
  .carousel-caption-link > * {
    margin: 0;
    margin-left: 1rem;
  }
}

.carousel-indicators.outsider {
  position: absolute;
  top: 0;
  margin-top: -9%;
  width: fit-content;
  right: 58%;
}
.carousel-indicators.outsider button {
  background-color: #dee2e6;
  border-radius: 12px;
  border: 1px solid transparent;
  width: 12px;
  height: 12px;
}
.carousel-indicators.outsider button.active {
  background-color: var(--main-color);
  width: 24px;
}

@media only screen and (max-width: 568px) {
  .carousel-indicators.outsider {
    margin-top: -12%;
    right: 51%;
  }
}

/*  Swiper pagination */
.swiper-pagination-main .swiper-pagination-bullet.swiper-pagination-bullet {
  background-color: #dee2e6 !important;
  border-radius: 12px;
  border: 1px solid transparent;
  width: 12px;
  height: 12px;
}
.swiper-pagination-main
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: var(--main-color) !important;
  width: 24px !important;
}

/* Notes mobile slider */
#notes-mobile-slider .card-body {
  padding: 1rem 0;
}

@media only screen and (max-width: 568px) {
  .carousel-caption {
    text-align: initial;
    padding: 0.5rem;
  }
  .carousel-caption h5 {
    font-size: 14px;
  }
  .carousel-caption-link {
    padding: 0;
  }
}
/* Image shadows */

.img-shadow {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.img-highlight {
  content: "";
  position: absolute;
  bottom: 0;
  background: rgb(22, 110, 44);
  background: linear-gradient(
    0deg,
    rgb(27, 26, 26) 0%,
    rgba(34, 193, 195, 0) 100%
  );
  width: 100%;
  height: 50%;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

/* Buttons */
.btn-light {
  border-radius: 6px;
}
.btn-glass {
  background-color: rgba(255, 255, 255, 0.4);
  color: #fff;
  border-radius: 6px;
}
.btn-green {
  color: #fff;
  background-color: var(--main-color);
  border-color: var(--main-color);
  border-radius: 12px;
}
.btn-green:hover {
  color: #fff;
  background-color: var(--main-hover-color);
  border-color: var(--main-hover-color);
}
.btn-green:focus {
  color: #fff;
  background-color: var(--main-color);
  border-color: var(--main-hover-color);
  box-shadow: 0 0 0 0.25rem rgba(60, 127, 76, 50%);
}

.btn-outline-green {
  color: var(--main-color);
  background-color: #fff;
  border-color: var(--main-color);
  border-radius: 12px;
}
.btn-outline-green:hover {
  color: #fff;
  background-color: var(--main-hover-color);
  border-color: var(--main-hover-color);
}
.btn-outline-green:focus {
  color: #fff;
  background-color: var(--main-color);
  border-color: var(--main-hover-color);
  box-shadow: 0 0 0 0.25rem rgba(60, 127, 76, 50%);
}
.btn-light-green {
  color: #fff;
  background-color: #74e68e;
  border-color: #74e68e;
  border-radius: 12px;
}
.btn-light-green:hover {
  color: #fff;
  background-color: var(--main-hover-color);
  border-color: var(--main-hover-color);
}
.btn-light-green:focus {
  color: #fff;
  background-color: var(--main-hover-color);
  border-color: var(--main-hover-color);
  box-shadow: 0 0 0 0.25rem rgba(60, 127, 76, 50%);
}
.btn-whatsapp {
  color: #fff;
  background-color: var(--main-whatsapp-color);
  border: 1px solid var(--main-whatsapp-color);
  border-radius: 12px;
}
.btn-telegram {
  color: #fff;
  background-color: var(--main-telegram-color);
  border: 1px solid var(--main-telegram-color);
  border-radius: 12px;
}

.btn-twitter {
  color: #fff;
  background-color: var(--main-twitter-color);
  border: 1px solid var(--main-twitter-color);
  border-radius: 12px;
}

/* Card */
.card {
  background-color: #fff;
  border: none;
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.075);
  border-radius: 12px;
}
.card-body {
  padding: 1rem 30px;
}

.card-img-right {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.card-img-right-sm {
  height: 6vw;
}

@media only screen and (max-width: 568px) {
  .card-img-right {
    height: auto;
  }
  .card-body {
    padding: 20px 20px 30px 20px !important;
  }
}

/* Absolute */
.abs-top-right {
  position: absolute;
  right: 0;
  top: 0;
}
.abs-n-top-right {
  position: absolute;
  right: 0;
  bottom: 100%;
}

.abs-center {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.abs-bottom-left {
  position: absolute;
  left: 0;
  bottom: 0;
}
.abs-bottom-right {
  position: absolute;
  right: 0;
  bottom: 0;
}
.abs-center-left {
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 99;
}

/* List */
ul {
  padding: 0;
  margin: 0;
}

.green-list {
  list-style-image: url("../img/circle.svg");
  padding-right: 12px;
}
.green-list li {
  margin: 15px 0;
  line-height: 2rem;
}

ul.list-group.only-bottom-border li {
  border: none;
  padding: 1rem 0;
}
ul.list-group.only-bottom-border li:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
ul.list-group.only-bottom-border li a {
  color: #a39d9e;
}
ul.list-group.only-bottom-border li.active {
  background-color: transparent;
}
ul.list-group.only-bottom-border li.active a {
  color: #000;
}

/* Colors */
.text-gray {
  color: #808080;
}

/* Date */
.date {
  color: #808080 !important;
  font-size: 12px !important;
  margin: 0;
  margin-top: 0.5rem;
  font-weight: normal !important;
}
/* Videos */
.videos .video-item {
  opacity: 0.5;
  transition: all 0.5s ease;
}
.videos .video-item:hover {
  opacity: 1;
}
.videos .video-item.active {
  opacity: 1;
}
/* Swiperjs */

.swiper {
  border-radius: 12px;
}

/* ------ */
.swiper-button-prev.button,
.swiper-button-next.button {
  background-color: #fff;
  border-radius: 50%;
  padding: 2rem;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
}
.swiper-button-prev.button {
  left: -1.5%;
}
.swiper-button-next.button {
  right: -1.5%;
}
.swiper-button-prev.button:after,
.swiper-button-next.button:after {
  font-size: 20px;
  color: #dee2e6;
}

@media only screen and (max-width: 568px) {
  .swiper-button-prev.button,
  .swiper-button-next.button {
    padding: 1rem;
    height: fit-content;
    width: fit-content;
  }
  .swiper-button-prev.button:after,
  .swiper-button-next.button:after {
    font-size: 12px;
  }
}

/* ----- */
.swiper-button-prev.static,
.swiper-button-next.static {
  position: initial;
  width: fit-content;
  height: fit-content;
  top: 0;
  display: inline-flex;
  margin-top: 0;
  padding: 0 0.2vw;
}

.swiper-button-prev.static:after,
.swiper-button-next.static:after {
  font-size: 20px;
  color: #dee2e6;
}

@media only screen and (max-width: 568px) {
  .swiper-button-prev.static,
  .swiper-button-next.static {
    margin-top: 5px;
  }
}

/* ----- */
.bk-slider {
  position: relative;
  width: auto;
  height: auto;
  overflow: hidden;
}

.bk-slider .swiper {
  width: 100%;
  height: 200px;
  overflow: visible;
}

.bk-slider .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  background: white;
  transition: all 0.3s ease;
  opacity: 0.5;
  filter: blur(4px);
}
.bk-slider .swiper-slide-active {
  color: #fff;
  z-index: 2;
  opacity: 1;
  filter: blur(0px);
}
@media only screen and (min-width: 768px) {
  .bk-slider {
    padding: 50px 0 100px;
  }
  .bk-slider .swiper-slide-active {
    transform: scale(2);
  }
}

.bk-slider .swiper-slide .swiper-caption {
  position: absolute;
  right: 0;
  bottom: 0;
}

.bk-slider .img-shadow {
  border-radius: 0 !important;
}
.bk-slider .swiper-slide .img-shadow {
  top: 62%;
}
.bk-slider .swiper-slide-active .img-shadow {
  top: initial;
  bottom: 0;
}

/* Footer */
footer {
  background-color: var(--main-color);
  color: #fff;
  padding-top: 4rem;
  position: relative;
  overflow: hidden;
  margin-top: 40px;
}

.footer-link li {
  margin: 1rem 0;
}

.footer-link a {
  color: #fff;
}

/* Social media */
.social-media {
  opacity: 0.5;
  transition: all 0.5s ease;
}

.social-media:hover {
  opacity: 1;
}

.social-medias {
  position: relative;
  z-index: 2;
}

/* Modal */
.modal-main {
  max-width: 372px;
}
.modal-header {
  border: 0;
}

.modal-header {
  padding: 1rem 1rem 0 1rem;
}
.modal-body {
  padding: 0 30px 20px 30px;
}

.modal-header .btn-close {
  margin: initial;
}
.modal-footer {
  justify-content: center;
  border: 0;
  background-color: #f7f7f7;
  padding: 0.8rem;
  border-radius: 12px;
}
.modal-footer p {
  margin: 0;
}

.modal-footer a {
  text-decoration: underline;
  font-weight: bold;
}

/*  center */
.modal.modal-center {
  text-align: center;
  padding: 0 !important;
}

.modal.modal-center:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px; /* Adjusts for spacing */
}

.modal.modal-center .modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  width: 90%;
}

/* Inputs */
.input-group-text {
  background-color: #fff;
}
/* Form control */
.form-control {
  border-radius: 12px !important;
}
.form-control:focus,
.form-select:focus {
  box-shadow: 0 0 0 0.25rem rgba(60, 127, 76, 25%);
}

.form-check-input {
  padding: 0.6rem;
  position: relative;
  margin-left: 0.5rem;
}

.form-check-input:checked {
  background-color: #fff;
  border-color: #000;
  background-image: none;
}
.form-check-input[type="checkbox"]:checked::after {
  content: "";
  display: block;
  border: solid black;
  border-width: 0 2px 2px 0;
  width: 7px;
  height: 12px;
  position: absolute;
  top: 0;
  left: 30%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.form-check-input[type="radio"]:checked::after {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 10%;
  left: 14%;
  background-color: #000;
  border-radius: 50%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.input-group .form-control {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

/* Form select */
.form-select {
  border-radius: 12px;
}

/* Pagination */
.pagination {
  justify-content: center;
}
.page-item {
  margin: 0 0.5rem;
}
.page-link {
  border: none;
  color: gray;
  font-size: 16px;
  border-radius: 5px;
  background-color: transparent;
  width: 30px;
  height: 30px;
  text-align: center;
}
.page-item.active .page-link,
.page-link:hover,
.page-link:active,
.page-link:focus {
  background-color: var(--main-color);
  color: #fff;
}
.page-link:focus {
  box-shadow: 0 0 0 0.25rem rgba(60, 127, 76, 25%);
}

/* Brudcrumbs */
.brudcrumbs ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.brudcrumbs ul li {
  margin: 0 0.25rem;
}
.brudcrumbs ul li a,
.brudcrumbs ul li span {
  color: #808080;
}

/* Badge */
.badge {
  border-radius: 8px;
}

/* Background */
.bg-green {
  background-color: var(--main-color);
  color: #fff;
}

/* Table and vertical height */
.d-table {
  display: table;
}
.v-center {
  display: table-cell;
  vertical-align: middle;
}
table.with-padding td {
  padding: 0.75rem;
}

/* Width */
.w-90 {
  width: 90%;
}
@media only screen and (min-width: 768px) {
  .w-lg-50 {
    width: 50%;
  }
}

/* Font size */
.fs-24 {
  font-size: 24px;
}
.fs-20 {
  font-size: 20px;
}

.fs-18 {
  font-size: 18px;
}
.fs-16 {
  font-size: 16px;
}
.fs-14 {
  font-size: 14px;
}
.fs-12 {
  font-size: 12px;
}

@media only screen and (max-width: 568px) {
  .fs-sm-12,
  .fs-sm-12 > * {
    font-size: 12px;
  }
}

/* Hover */
#carouselNews .carousel-item {
  cursor: pointer;
}
#carouselNews .carousel-item:hover > p {
  color: var(--main-color);
}

@media only screen and (max-width: 568px) {
  #carouselNews .carousel-item span {
    margin: 0;
  }
  #carouselNews .carousel-item p {
    text-align: initial;
  }
}
.more-shadow-hover .card {
  transition: all 0.3s ease;
}
.more-shadow-hover .card:hover {
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.15) !important;
}

.more-shadow-hover .card:hover .card-title {
  color: var(--main-color);
}

/* Padding */
.px-30 {
  padding-right: 30px;
  padding-left: 30px;
}
.py-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}
.pe-30 {
  padding-left: 30px;
}
.px-20 {
  padding-right: 20px;
  padding-left: 20px;
}
.px-10 {
  padding-right: 10px;
  padding-left: 10px;
}

@media only screen and (max-width: 568px) {
  .p-sm-none {
    padding: 0 !important;
  }

 
}

.pb-30 {
  padding-bottom: 30px !important;
}
/* Margin */

.ms-20 {
  margin-right: 20px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mt-30 {
  margin-top: 30px;
}
.me-30 {
  margin-left: 30px;
}

@media only screen and (max-width: 568px) {
  .mt-sm-19 {
    margin-top: 19rem;
  }
}

/* Comision */
#comisions-slider {
  transition: all 0.3s ease;
}

#comisions-slider .swiper-slide a:hover > .img-full-shadow {
  content: "";
  position: absolute;
  bottom: 0;
  background: rgba(30, 108, 50, 70%);
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

#comisions-slider .swiper-slide a:hover > .img-highlight {
  display: none;
}

/* Border radius */
.border-radius-12 {
  border-radius: 12px;
}

/* search modal */

@media only screen and (min-width: 568px) {
  #search-input-modal {
    width: 545px;
    height: 60px;
  }
}

#search-input-modal .input-group-text {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

/* Timer */
#timer {
  font-size: 14px;
  font-weight: bold;
}

/* Form check label */
.form-check label {
  float: right;
  line-height: 2rem;
}
/* Access links footer */
#access-links {
  display: flex;
  padding-right: 1rem;
  justify-content: space-between;
}

#access-links li a {
  transition: all 0.3s ease-out;
}
#access-links li:hover > a {
  font-weight: bold;
}
@media only screen and (max-width: 568px) {
  #access-links {
    justify-content: space-around;
  }
}

/* Mobile navbar container */
#mobileNavbar {
  padding-top: 10px;
}

#mobileNavbarContainer {
  position: fixed;
  right: 0;
  top: 0;
  width: 0%;
  height: 100%;
  overflow-x: hidden;
  z-index: 999;
  z-index: 1000;
  background-color: #f5f5f5;
  transition: all 0.3s ease;
}

#page-overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  opacity: 0.8;
  z-index: 90;
}

#mobileNavbarContainer .nav-item {
  background-color: #f5f5f5;
  margin: 0;
  padding: 0 1rem;
  border-bottom: 1px solid #e1e1e1;
}
#mobileNavbarContainer .nav-item.accordion-item-wrapper {
  padding: 0;
}
#mobileNavbarContainer .accordion-button:focus {
  box-shadow: 0 0 0 0.25rem rgba(22, 110, 44, 25%);
}
#mobileNavbarContainer .accordion-button:not(.collapsed) {
  color: var(--main-color);
}
#mobileNavbarContainer .dropdown-menu {
  position: absolute !important;
  width: 100% !important;
  top: 0 !important;
}
#mobileNavbarContainer .nav-link {
  font-size: 14px;
}

#mobileNavbarContainer .accordion-item {
  border: 0;
  background-color: #f5f5f5;
  border-radius: 0;
}
#mobileNavbarContainer .accordion-button {
  background-color: #f5f5f5;
  border: 0;
  padding: 0.5rem 1rem;
}

/* Full width */
@media only screen and (max-width: 568px) {
  .fullwidth-sm {
    position: absolute;
    width: 100%;
    left: 0;
  }
}

/* Slider carousel */
@media only screen and (max-width: 568px) {
  #sliderCarousel {
    border-radius: 0 !important;
    overflow: auto !important;
  }
  #sliderCarousel .logo-white-svg {
    display: none;
  }
  #sliderCarousel .carousel-caption {
    bottom: 0;
  }
  #sliderCarousel .img-shadow {
    border-radius: 0;
  }
}

/* Menu detail */
#menu-detail {
  font-size: 12px;
}

/* border radius */
.rounded-12 {
  border-radius: 12px;
}

.rounded-10 {
  border-radius: 10px;
}

.rounded-img-10 {
  border-radius: 10px;
  overflow: hidden;
}

/* View port */
.ps-vw-1 {
  padding-right: 1vw;
}



/* Paddings */
.p-30 {
  padding: 30px;
}

.card-body-padding-20 .card-body {
  padding: 1rem 20px;
  height: 100%;
}

@media only screen and (max-width: 568px) {
  .calender-svg {
    margin: 0 !important;
  }
}

/* Rows */
.gx-20 {
  --bs-gutter-x: 20px;
}

/* Line height */
.lh-xl {
  line-height: 2.5rem;
}

.card {
  margin-bottom: 20px !important;
}

#videos .card-body .card {
  margin-bottom: 10px !important;
}

#videos img {
  height: 100%;
}


@media only screen and (max-width: 568px) {
  .pt-sm-none {
    padding-top: 0 !important;
  }
}

#footer_address p {
  display: inline-flex;
}

@media only screen and (max-width: 568px) {
  #footer_address {
    display: flex;
  }
  #footer_address .location-svg {
    background-position: 0 20px;
  }
}

#map {
  width: 100%;
  height: 100%;
}
.password-button{
  position:relative;
  display:flex;
  width:100%;
  padding:1rem 1.25rem;
  line-height: 1.2;font-weight: 500;
  border-radius:0;
  border: 1px solid rgba(255, 255, 255, 0.125);  
}
article img{
  width: 100%;

}

      

