
ul li a {
    font-size: 14px;
}

ul li.list-group-item.active {
    font-weight: bold;
}

p {
    font-size: 14px;
}

@media only screen and (max-width: 568px) {

    .card .card-body {
        padding: 1rem 20px !important;
    }
}

.form-control {
   height: 50px;
}
.input-group {
    padding: 0;
    padding-left: 1rem;
}
.input-group input {
    padding-right: 1rem !important;
}