p,
.green-list > * {
  font-size: 14px;
}
.card-img-right-sm {
  height: 100%;
}
#videos .card-title {
  font-size: 14px;
  font-weight: bold;
}

  @media only screen and (max-width: 568px) {


    .card .card-body {
        padding-top: 10px !important;
    }
  }