p,span {
    font-size: 14px;
}

.address {
    padding: 0 6rem;
}
/* Contact us */
.contact-us {
    text-align: center;
    margin-top: -10%;
  }

  form .form-control:not(textarea), form .form-select {
      height: 50px;
      border-radius: 10px !important;
  }
  .send {
      padding: 1rem 5rem;
  }

  .map-container {
      padding-bottom: 2rem;
  }
  @media only screen and (max-width: 568px) {
      .map-container {
          padding: 5px !important;
      }
  }

  #contact-us {
      padding: 30px 0 30px 30px;
  }

  @media only screen and (max-width: 568px) {
    #contact-us {
        padding: 30px 0 20px 30px;
    }
    #map-img {
        height: 320px;
    }
    .send {
        padding: 0.75rem 4rem;
    }
  }