@media only screen and (max-width: 568px) {
  main {
    margin-top: 0;
  }
}

#notes .card {
  margin-bottom: -2.3px !important;
}

#notes .card-body {
  padding: 10px 30px;
}
#notes .card-body .card-body {
  padding: 10px ;
}
@media only screen and (min-width: 568px) {
  #map-container {
    position: absolute;
    top: 0;
  }
}

@media only screen and (max-width: 568px) {
  .bg-svg {
  background-position: top;

  }
  
}

.date {
  margin: 0 !important;
}
